

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Launching Templates &mdash; NBD Docs 1.0.0 documentation</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
        <script src="../../_static/jquery.js"></script>
        <script src="../../_static/underscore.js"></script>
        <script src="../../_static/doctools.js"></script>
        <script src="../../_static/language_data.js"></script>
        <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script type="text/javascript" src="../../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="PELE Platfom" href="../peleplatform/documentation.html" />
    <link rel="prev" title="Software" href="../index.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../index.html" class="icon icon-home"> NBD Docs
          

          
          </a>

          
            
            
              <div class="version">
                1.0
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul>
<li class="toctree-l1"><a class="reference internal" href="../../databases/index.html">Compound DataBases</a></li>
</ul>
<ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">Software</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../index.html#summary">Summary</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../index.html#job-launching-templates">Job launching Templates</a><ul class="current">
<li class="toctree-l3 current"><a class="current reference internal" href="#">Launching Templates</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#peleplatform-cluster">PelePlatform (cluster)</a></li>
<li class="toctree-l4"><a class="reference internal" href="#pelesimulationanalysis-cluster">PeleSimulationAnalysis (cluster)</a></li>
<li class="toctree-l4"><a class="reference internal" href="#analogssearch-office">AnalogsSearch (Office)</a></li>
<li class="toctree-l4"><a class="reference internal" href="#mdpocket-office">MDPocket (Office)</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../index.html#pele">PELE</a></li>
<li class="toctree-l2"><a class="reference internal" href="../index.html#namd">NAMD</a></li>
<li class="toctree-l2"><a class="reference internal" href="../index.html#schrodinger">Schrodinger</a></li>
<li class="toctree-l2"><a class="reference internal" href="../index.html#python-packages">Python packages</a></li>
<li class="toctree-l2"><a class="reference internal" href="../index.html#nice-dcv">Nice DCV</a></li>
<li class="toctree-l2"><a class="reference internal" href="../index.html#tests">Tests</a></li>
<li class="toctree-l2"><a class="reference internal" href="../index.html#newcomers">NewComers</a></li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../compute_power/index.html">IT infrastructure</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../papers/index.html">Articles</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../index.html">NBD Docs</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../index.html">Software</a> &raquo;</li>
        
      <li>Launching Templates</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../_sources/software/templates/documentation.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="launching-templates">
<h1>Launching Templates<a class="headerlink" href="#launching-templates" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
</div>
<div class="section" id="peleplatform-cluster">
<h2>PelePlatform (cluster)<a class="headerlink" href="#peleplatform-cluster" title="Permalink to this headline">¶</a></h2>
<p><cite>/shared//work/NBD_Utilities/PELE/PELE_Softwares/PelePlatform/launch_template.sl</cite></p>
<p>Launch with: <cite>sbatch launch_template.sl</cite></p>
</div>
<div class="section" id="pelesimulationanalysis-cluster">
<h2>PeleSimulationAnalysis (cluster)<a class="headerlink" href="#pelesimulationanalysis-cluster" title="Permalink to this headline">¶</a></h2>
<p><cite>/shared/work/NBD_Utilities/PELE/PELE_Templates/analisis.sl</cite></p>
<p>Launch with: Copy and paste the analysis part you want to run to commandline</p>
</div>
<div class="section" id="analogssearch-office">
<h2>AnalogsSearch (Office)<a class="headerlink" href="#analogssearch-office" title="Permalink to this headline">¶</a></h2>
<p><cite>/shared/data-nbdcalc01/software/python_scripts/analogs_finder/analogs.sh</cite></p>
<p>Launch with: <cite>bash analogs.sh</cite></p>
</div>
<div class="section" id="mdpocket-office">
<h2>MDPocket (Office)<a class="headerlink" href="#mdpocket-office" title="Permalink to this headline">¶</a></h2>
<p><cite>/shared/data-nbdcalc01/software/MDpocket/mdpocket_readme_suwipa/README_MDpocket</cite></p>
<p>Launch with: Follow instructions and copy paste to command line</p>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="../peleplatform/documentation.html" class="btn btn-neutral float-right" title="PELE Platfom" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="../index.html" class="btn btn-neutral float-left" title="Software" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2019, Daniel Soler Viladrich

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>